@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}
/* ロゴのトランジション */
/* ロゴのトランジション */
.logo-transition {
  transition: transform 7s ease-in-out, opacity 2s ease-in-out; /* トランジションの期間を5秒に設定 */
}

/* ロゴが中央にあるときのスタイル */
.logo-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ロゴが上部に移動したときのスタイル */
.logo-slide-up {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 1rem; /* 必要に応じて調整 */
}
